<div class="xpartial xuser xsearch">

	<%= form_tag(all_articles_path, :method => "get", id: "search-form") do %>
	    <%= text_field_tag :search, params[:search], placeholder: "Search Articles" %>
	    <%= submit_tag "Search", :name => nil %>
	<% end %>
</div>
