<h1>References</h1>

<%= link_to 'Add a reference', new_citation_path %>
<table>
  <% @citations.each do |citation| %>
  <tr>
    <th><%= citation.id %></th>
    <th><%= citation.body %> </th>
  <tr>
  <% end %>
